@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);


body {
  margin: 0;
  background-color: #bb010a;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #bb010a;
  font-family:"Lato";
  font-weight: bolder;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: #bb010a;
  font-family: "Lato";
  font-weight: lighter;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #bb010a;
  font-family: "Lato";
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #bb010a;
  border-width: thin;
  border-color: #2a3178;
  border-style: solid;
}

nav a {
  margin: 0 35px;
  color: #2a3178;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #b9b4b5;
  font-family: "Alike";
}
ul{
  list-style-image: url(../images/star.png);
}
